<head>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Kranky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <app>Loading...</app>
    <div id="snowflakes"></div>

    <script type="text/javascript">
        var total = 200;
        console.log(total);
        var snowCloud = document.getElementById('snowflakes');                // Create a <li> node
        //var snowflake = document.createElement("I")     // Create a text node
        for(i = 0; i<total; i++){
            var snowflake = document.createElement("I");
            snowCloud.appendChild(snowflake);
        }
    </script>
</body>