body {
     background: url("/images/bcg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 20px!important;
 }

/*.login-buttons[_ngcontent-wps-2]   .content-container[_ngcontent-wps-2],*/
/*.login-buttons[_ngcontent-fal-2]   .content-container[_ngcontent-fal-2],*/
/*.login-buttons[_ngcontent-vvn-2]   .content-container[_ngcontent-vvn-2],*/
/*.login-buttons[_ngcontent-hnw-2]   .content-container[_ngcontent-hnw-2],*/
/*.login-buttons[_ngcontent-njs-2]   .content-container[_ngcontent-njs-2],*/
/*.login-buttons[_ngcontent-twb-2]   .content-container[_ngcontent-twb-2]{*/
    /*right: 0;*/
    /*left: auto;*/
/*}*/

p, div {
    font-family: 'Playfair Display', serif;
}

.wishlist * {
    color: white;
}

.wishlist input {
    color: #111107;
}

li:before{
    content: '\2744';
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, label, button {
    font-family: 'Kranky', cursive;
}

login-buttons span{
    color: white;
}

li{
    list-style-type: none;
    margin-left: 5px;
}

ul{
    padding-left: 10px;
}

li>button {
    background: none;
    border: none;
    cursor: pointer;
}

.container {
    padding-top: 50px;
}

form label {
    display: block;
    font-size: 25px!important;
}

form button{
    background: none;
}

form {
    padding-bottom: 20px;
}




#snowflakes

{position: fixed;
    top: -60px;
    width:100%;
    text-align:center;
    height: 100%;
    display: block;
    z-index: -100000;
    opacity: 0.9;}

#snowflakes i {
    background-color: white;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    z-index: 600000000;
    color: white;
    display: inline-block;

    margin-top: -20px;
    animation:snowing;
    -webkit-animation:snowing;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear; /* Safari and Chrome */
}

@-webkit-keyframes snowing {
    0% {
        -webkit-transform:
        translate3d(0,0,0)
        rotate(0deg)
        scale(0.9,0.9);
    }
    100% {
        -webkit-transform:
        translate3d(-150px,800px,0)
        rotate(360deg)
        scale(1.1,1.1);
    }
}

@-moz-keyframes snowing {
    0% {
        -moz-transform:
        translate3d(0,0,0)
        rotate(0deg)
        scale(0.9,0.9);
    }
    100% {
        -moz-transform:
        translate(30px,800px)
        rotate(360deg)
        scale(1.1,1.1);
    }
}


#snowflakes i:nth-of-type(7n) {
    -moz-animation-duration: 9s;
    -webkit-animation-duration: 9s;
    width: 4px;
    height: 4px;
    opacity: 0.6;
}

#snowflakes i:nth-of-type(14n) {
    -moz-animation-duration: 9s;
    -webkit-animation-duration: 9s;
    width: 4px;
    height: 4px;
    opacity: 0.6;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

#snowflakes i:nth-of-type(21n) {
    -moz-animation-duration: 9s;
    -webkit-animation-duration: 9s;
    width: 4px;
    height: 4px;
    opacity: 0.6;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
}


#snowflakes i:nth-of-type(7n+1) {
    -moz-animation-duration: 7.5s;
    -webkit-animation-duration: 7.5s;
    width: 5px;
    height: 5px;
    opacity: 0.7;
}

#snowflakes i:nth-of-type(14n+1) {
    -moz-animation-duration: 7.5s;
    -webkit-animation-duration: 7.5s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    width: 5px;
    height: 5px;
    opacity: 0.7;
}

#snowflakes i:nth-of-type(21n+1) {
    -moz-animation-duration: 7.5s;
    -webkit-animation-duration: 7.5s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    width: 5px;
    height: 5px;
    opacity: 0.7;
}

#snowflakes i:nth-of-type(7n+2) {
    -moz-animation-duration: 6.5s;
    -webkit-animation-duration: 6.5s;
    width: 6px;
    height: 6px;
    opacity: 0.8;
}

#snowflakes i:nth-of-type(14n+2) {
    -moz-animation-duration: 6.5s;
    -webkit-animation-duration: 6.5s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    width: 6px;
    height: 6px;
    opacity: 0.8;
}

#snowflakes i:nth-of-type(21n+2) {
    -moz-animation-duration: 6.5s;
    -webkit-animation-duration: 6.5s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    width: 6px;
    height: 6px;
    opacity: 0.8;
}

#snowflakes i:nth-of-type(7n+3) {
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    width: 7px;
    height: 7px;
    opacity: 0.8;
}

#snowflakes i:nth-of-type(14n+3) {
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    width: 7px;
    height: 7px;
    opacity: 0.8;
}

#snowflakes i:nth-of-type(21n+3) {
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    width: 7px;
    height: 7px;
    opacity: 0.8;
}


#snowflakes i:nth-of-type(7n+4) {
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    width: 7px;
    height: 7px;
    opacity: 0.9;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

#snowflakes i:nth-of-type(21n+4) {
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    width: 7px;
    height: 7px;
    opacity: 0.9;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}

#snowflakes i:nth-of-type(14n+4) {
    -moz-animation-duration: 5s;
    -webkit-animation-duration: 5s;
    width: 7px;
    height: 7px;
    opacity: 0.9;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#snowflakes i:nth-of-type(7n+5) {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    width: 8px;
    height: 8px;
    opacity: 1;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
}

#snowflakes i:nth-of-type(14n+5) {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    width: 8px;
    height: 8px;
    opacity: 1;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}


#snowflakes i:nth-of-type(21n+5) {
    -moz-animation-duration: 4s;
    -webkit-animation-duration: 4s;
    width: 8px;
    height: 8px;
    opacity: 1;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}


#snowflakes i:nth-of-type(21n+6) {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    width: 9px;
    height: 9px;
    opacity: 0.5;
}

#snowflakes i:nth-of-type(35n) {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    width: 9px;
    height: 9px;
    opacity: 0.5;
}