<div class="container">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
            <login-buttons></login-buttons>
        </div>
    </div>
    <div class="row wishlist">

        <wishes-form></wishes-form>
        <ul>
            <li *ngFor="let wish of wishes | async">
                {{wish.wish}}
                <button (click)="removeWish(wish)">X</button>
            </li>
        </ul>
    </div>
</div>